body {
	/*background-color: #323232;*/
}

h1 {
	color: #b2cb78;
}

li {
	color: #b2cb78;
}

p {
	text-indent: 2em;
	color: #b2cb78;
}

li {
	margin-bottom: 10px;
}

#titleheader {
	text-align: center;
}

.subheading {
	font-size: 24px;
	margin: auto;
	color: #ff8024;
	text-decoration: underline;
}

.flexContainer {
	display: flex;
}



h4 {
	text-align: center;
}

h5 {
	text-align: center;
}

img {
	display: block;
	margin: 0 auto;
}

#photo1 {
	display: none;
}

#photo2 {
	display: none;
}