body {
	background-color: black;
	background-image: url(../../../images/tile.png);
	background-repeat: repeat;
}

.flexbox {
	display: flex;
	height:100vh;
}

#renderPanel {
	width: 82%;
	margin-right: 50px;
	height: auto;
}

.navbar {
	margin-bottom: 0;
}

h1 {
	text-align: center;
	font-size: 20px;
}

.navbar {
	border: none;
	background-image: url(../../../images/gradient.png);
	background-size: contain;
}

.navbar-default .navbar-nav>li>a {
	color:red;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
	color:blue;
}

h1 {
	color:red;
}

p, a, label {
	/*font-family: 'Audiowide', cursive;*/
	color:red;
	font-size: 1.2em;
}

a {
	font-weight: 900;
}


label {
	margin-left:5px;
}