.flexcontainer {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	align-items: center;
	justify-content: center;
}

body {
	background-color: grey;
}

#menu {
	margin-right:10px;
	height:80%;
	width:20%;
}

textarea {
	resize:none;
}

canvas {
	border:2px solid black;
}

#instructions {
	margin-left:10px;
	height:80%;
	width:20%;
}
h1 {
	text-align: center;
}

.navbar {
	border: none;
	background-image: url(../../../images/gradient.png);
	background-size: contain;
}

.navbar-default .navbar-nav>li>a {
	color:red;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
	color:blue;
}