body {
	background-color: black;
	background-image: url(../../../images/tile.png);
	background-repeat: repeat;
}

.navbar {
	margin-bottom: 0;
}

.flexbox {
	display: flex;
	height:100vh;
}

#renderPanel {
	width:80%;
	height:auto;
	margin-right: 10px;
}

table {
	margin-top:5px;
}

th {
	padding:5px;
}

td input {
	position: relative;
	left: 45%;
}

td, th {
	border:2px solid grey;
	background-color: black;
	/*font-family: 'Audiowide', cursive;*/
	color:red;
}

h1, th {
	font-size: 16px;
	font-weight: bold;
	/*font-family: 'Audiowide', cursive;*/
	color:red;
}

h1, p, a {
	/*font-family: 'Audiowide', cursive;*/
	color:red;
}

.navbar {
	border: none;
	background-image: url(../../../images/gradient.png);
	background-size: contain;
}

.navbar-default .navbar-nav>li>a {
	color:red;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
	color:blue;
}